<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Main Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>18/12/11 16:03:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestA.setUp()[pri:0, instance:testjen.testjen.TestA@3ffc5af1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/12/11 16:03:44</td>   <td>15091</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testPageTitleSampleA()[pri:0, instance:testjen.testjen.TestA@3ffc5af1]">testPageTitleSampleA</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/12/11 16:03:44</td>   <td>15106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testSampleThree()[pri:0, instance:testjen.testjen.TestA@3ffc5af1]">testSampleThree</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/12/11 16:03:44</td>   <td>15109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testSampleTwo()[pri:0, instance:testjen.testjen.TestA@3ffc5af1]">testSampleTwo</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>18/12/11 16:03:44</td>   <td>15112</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestA.tearDown()[pri:0, instance:testjen.testjen.TestA@3ffc5af1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:45</td>   <td>15845</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestB.setUp()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:51</td>   <td>22220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestB.testPageTitleSampleB()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">testPageTitleSampleB</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:51</td>   <td>22229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestB.testSampleOne()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">testSampleOne</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:51</td>   <td>22232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestB.testSampleThree()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">testSampleThree</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:51</td>   <td>22239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestB.testSampleTwo()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">testSampleTwo</td> 
  <td>main@112061925</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>18/12/11 16:03:51</td>   <td>22241</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestB.tearDown()[pri:0, instance:testjen.testjen.TestB@5e5792a0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@112061925</td>   <td></td> </tr>
</table>
