<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0edeb">  <td>18/12/12 18:09:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestA.setUp()[pri:0, instance:testjen.testjen.TestA@5cb9f472]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@143110009</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>18/12/12 18:09:23</td>   <td>17802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testPageTitleSampleA()[pri:0, instance:testjen.testjen.TestA@5cb9f472]">testPageTitleSampleA</td> 
  <td>main@143110009</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>18/12/12 18:09:23</td>   <td>17806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testSampleThree()[pri:0, instance:testjen.testjen.TestA@5cb9f472]">testSampleThree</td> 
  <td>main@143110009</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>18/12/12 18:09:23</td>   <td>17811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestA.testSampleTwo()[pri:0, instance:testjen.testjen.TestA@5cb9f472]">testSampleTwo</td> 
  <td>main@143110009</td>   <td></td> </tr>
</table>
